.offer-card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.offer-img {
  height: 220px;
  object-fit: cover;
}

.apply-btn {
  background: black;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
}

.apply-btn:hover {
  background: #222;
}

.view-details {
  display: block;
  color: black;
  text-decoration: underline;
  font-size: 14px;
}

.saveoffer {
  height: 300px;
  width: 100%;
  background-image: url("../assets/backgrundimage.jpg");
  align-items: center;
  align-content: center;
  justify-items: center;
  color: #fdfbfb;
}

.saveoffer h1 {
  font-weight: 500;
  font-size: 80px;
}